

.loader { 
    width: 90px;
    height: 90px;
    padding-left: 79px;
    padding-top: 33.5px;
    background-image: url('./loader.svg');
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
