.select {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	width: 180px;
	height: 24px;
	box-sizing: border-box;
	border: 1px solid rgb(194, 194, 194);
	border-radius: 2px;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

.select:focus {
	outline: none;
	box-sizing: border-box;
	border: 1px solid rgb(194, 194, 194);
	border-radius: 2px;
	background: rgb(255, 255, 255);
}


.option:hover {
	
}
